.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


.card__icon{
    font-size: 2rem;
}


@media screen and (max-width:700px){
    .cardsContainer{
        grid-template-columns: 100%;
        /*display: 100%;*/
        gap: 2rem;
        /*align-items: space;*/
        /*justify-content: space-between;*/
    }

}