.summary__container{
    border-radius:13px;

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: #d29ccb;
    color: white;
    text-align: center;

}

.summary__heading{
    margin: 0.8rem;
}

.item__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*width:12rem;*/
    height: 7rem;
    background-color: #4db5ff;
    color: #fff;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}